@model IEnumerable<BlowOut.Models.RentalInfo>


@{
    ViewData["Title"] = "Rentals";
}

<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>
    <p>Feel free to browse our selection of new and used instruments. The price displayed is the monlthly rental price before taxes and fees. Our rent-to-own program is the best in the area: <b>rent an instrument for 18 months (or the cost equivilant of 18 months) and it's yours to keep forever!</b></p>

    <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="row instrument-accordion">
                <div class="col-sm-6 type-accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <h4 class="panel-title">
                                    New Instrument Rentals
                                </h4>
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        ViewBag.RentalType = item.RentalType;

                                        if (@ViewBag.RentalType == "New") 
                                        {
                                            <div class="col-sm-6 text-center product">
                                                <h3>@Html.DisplayFor(modelItem => item.InstrumentName)</h3>
                                                <img src="@Html.DisplayFor(modelItem => item.InstrumentPicture)" width="50%" class="well">
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        <p>$@Html.DisplayFor(modelItem => item.InstrumentPrice).00</p>
                                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#@Html.DisplayFor(modelItem => item.RentalType)@Html.DisplayFor(modelItem => item.InstrumentName)">Request @Html.DisplayFor(modelItem => item.RentalType) Rental</button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 type-accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h4 class="panel-title">
                                    Used Instrument Rentals
                                </h4>
                            </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        ViewBag.RentalType = item.RentalType;

                                        if (@ViewBag.RentalType == "Used") 
                                        {
                                            <div class="col-sm-6 text-center product">
                                                <h3>@Html.DisplayFor(modelItem => item.InstrumentName)</h3>
                                                <img src="@Html.DisplayFor(modelItem => item.InstrumentPicture)" width="50%" class="well">
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        <p>$@Html.DisplayFor(modelItem => item.InstrumentPrice).00</p>
                                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#@Html.DisplayFor(modelItem => item.RentalType)@Html.DisplayFor(modelItem => item.InstrumentName)">Request @Html.DisplayFor(modelItem => item.RentalType) Rental</button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

    </div>

     <!-- Modal -->
    @foreach (var item in Model)
    {
     <div id="@Html.DisplayFor(modelItem => item.RentalType)@Html.DisplayFor(modelItem => item.InstrumentName)" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">@Html.DisplayFor(modelItem => item.RentalType) @Html.DisplayFor(modelItem => item.InstrumentName) Rental</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="@Html.DisplayFor(modelItem => item.InstrumentPicture)" width="40%" class="well">
                        </div>
                    </div>
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> 
    }

</div>
