@model IEnumerable<BlowOut.Models.RentalInfo>


@{
    ViewData["Title"] = "Rentals";

    ViewBag.MinNewPrice = 1000000;
    ViewBag.MaxNewPrice = 0;
    ViewBag.MinUsedPrice = 1000000;
    ViewBag.MaxUsedPrice = 0;

    foreach (var item in Model)
    {
        ViewBag.RentalType = item.RentalType;
        ViewBag.InstrumentPrice = item.InstrumentPrice;

        if (@ViewBag.RentalType == "New")
        {
            if (@ViewBag.InstrumentPrice < @ViewBag.MinNewPrice)
            {
                ViewBag.MinNewPrice = ViewBag.InstrumentPrice;
            }
            if (@ViewBag.InstrumentPrice > @ViewBag.MaxNewPrice)
            {
                ViewBag.MaxNewPrice = ViewBag.InstrumentPrice;
            }
        }
        if (@ViewBag.RentalType == "Used")
        {
            if (@ViewBag.InstrumentPrice < @ViewBag.MinUsedPrice)
            {
                ViewBag.MinUsedPrice = ViewBag.InstrumentPrice;
            }
            if (@ViewBag.InstrumentPrice > @ViewBag.MaxUsedPrice)
            {
                ViewBag.MaxUsedPrice = ViewBag.InstrumentPrice;
            }
        }
    }
}

<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>
    <p class="text-center rental-text">We make renting instruments a no-brainer:<br><span class="rent-text">Rent an instrument for 18 months<sup>*</sup>, and it's yours to keep...<i>forever!</i></span></p>

    <div class="row rental-items">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="row instrument-accordion">
                <div class="col-sm-6 type-accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4 class="panel-title" id="center-sm-left">New Instrument Rentals</h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <h4 class="panel-title" id="center-sm-right">$@ViewBag.MinNewPrice.00 - $@ViewBag.MaxNewPrice.00 <i class="indicator glyphicon glyphicon-chevron-right"></i></h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        ViewBag.RentalType = item.RentalType;

                                        if (@ViewBag.RentalType == "New") 
                                        {
                                            <div class="col-sm-6 text-center product">
                                                <h3>@Html.DisplayFor(modelItem => item.InstrumentName)</h3>
                                                <img src="@Html.DisplayFor(modelItem => item.InstrumentPicture)" width="50%" class="well">
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        <p>$@Html.DisplayFor(modelItem => item.InstrumentPrice).00</p>
                                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#@Html.DisplayFor(modelItem => item.RentalType)@Html.DisplayFor(modelItem => item.InstrumentName)">Request @Html.DisplayFor(modelItem => item.RentalType) Rental</button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 type-accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4 class="panel-title" id="center-sm-left">Used Instrument Rentals</h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <h4 class="panel-title" id="center-sm-right">$@ViewBag.MinUsedPrice.00 - $@ViewBag.MaxUsedPrice.00  <i class="indicator glyphicon glyphicon-chevron-right"></i></h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        ViewBag.RentalType = item.RentalType;

                                        if (@ViewBag.RentalType == "Used") 
                                        {
                                            <div class="col-sm-6 text-center product">
                                                <h3>@Html.DisplayFor(modelItem => item.InstrumentName)</h3>
                                                <img src="@Html.DisplayFor(modelItem => item.InstrumentPicture)" width="50%" class="well">
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        <p>$@Html.DisplayFor(modelItem => item.InstrumentPrice).00</p>
                                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#@Html.DisplayFor(modelItem => item.RentalType)@Html.DisplayFor(modelItem => item.InstrumentName)">Request @Html.DisplayFor(modelItem => item.RentalType) Rental</button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="text-center sub-text"><i><sup>*</sup>The cash equivilant of 18 monthly payments is required for instrument ownership to be transfered to a rental customer. Rental payments have an interest APR of 0%.</i></p>
        </div>
    </div>

     <!-- Modal -->
    @foreach (var item in Model)
    {
        ViewBag.InstrumentFullPrice = (item.InstrumentPrice) * 18;
        ViewBag.InstrumentId = item.InstrumentId;
        ViewBag.InstrumentName = item.InstrumentName;
        ViewBag.InstrumentPrice = item.InstrumentPrice;
        ViewBag.InstrumentPicture = item.InstrumentPicture;
        ViewBag.RentalType = item.RentalType;

     <div id="@Html.DisplayFor(modelItem => item.RentalType)@Html.DisplayFor(modelItem => item.InstrumentName)" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">@Html.DisplayFor(modelItem => item.RentalType) @Html.DisplayFor(modelItem => item.InstrumentName) Rental</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <img src="@Html.DisplayFor(modelItem => item.InstrumentPicture)" width="70%" class="well">
                        </div>
                        <div class="col-sm-6">
                            <h4>Monthly Price: <span class="pull-right">$@Html.DisplayFor(modelItem => item.InstrumentPrice).00</span></h4>
                            <h4>Full Price: <span class="pull-right">$@ViewBag.InstrumentFullPrice.00</span></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a asp-area="" asp-controller="rentals" asp-action="RequestInformation" asp-route-id="@ViewBag.InstrumentId" asp-route-instname="@ViewBag.InstrumentName" asp-route-price="@ViewBag.InstrumentPrice" asp-route-picture="@ViewBag.InstrumentPicture" asp-route-type="@ViewBag.RentalType">
                            <button type="submit" class="btn btn-primary" id="model-footer-buttons">Request More Information</button>
                    </a>
                    <a asp-area="" asp-controller="order" asp-action="Index" asp-route-id="@ViewBag.InstrumentId" asp-route-instname="@ViewBag.InstrumentName" asp-route-price="@ViewBag.InstrumentPrice" asp-route-picture="@ViewBag.InstrumentPicture" asp-route-type="@ViewBag.RentalType">
                        <button type="submit" class="btn btn-success" id="model-footer-buttons">Proceed to Rent</button>
                    </a>
                </div>
            </div>
        </div>
    </div> 
    }

</div>
